tbl{
table-layout:;}
tbl:a{
table-layout:auto;
}
tbl:f{
table-layout:fixed;
}
cps{
caption-side:;}
cps:t{
caption-side:top;}
cps:b{
caption-side:bottom;}
ec{
empty-cells:;}
ec:s{
empty-cells:show;}
ec:h{
empty-cells:hide;}
table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
  }

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
thead, tfoot {
    background-color: rgb(228 240 245);
  }
  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: rgb(237 238 242);
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  